body {
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  border-bottom: 1px solid #eee;
  background-color: #fff;
}


 .header-logo {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.main-header a {
  text-decoration: none;
  color: #000;
}



.main-header a {
  text-decoration: none;
  color: #000;
  position: relative; 
}

.main-header a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; 
  width: 100%;
  height: 2px;
  background: #964B00 ;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s ease;
}

.main-header a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}


.main-header a::before{
  background: #964B00;
  transform-origin: 100% 50%;
}

.nav-mid a,
.nav-right a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
  display: block;
  position: relative
}


.main-header li{
  display: inline-block;
  margin: 0 15px;
}

.announcement-bar {
  overflow: hidden;
  white-space: nowrap;
  background-color: #f5f5f5;
  color: #000;
  font-size: 14px;
  padding: 8px 0;
  position: relative;
}

.scroll-text {
  display: inline-block;
  padding-left: 100%;
  animation: scroll-left 8s linear infinite;
  font-family: Helvetica, sans-serif;
}

main{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-content: center;
}

.container {
    max-width: 400px;
    padding: 20px;
    width: 100%;
}

h2 {
    font-weight: 300;
    font-size: 2.5em;
    margin-bottom: 40px;
    text-align: left;
}

.form-group {
    margin-bottom: 25px;
    position: relative;
}

label {
    display: block;
    font-size: 0.9em;
    margin-bottom: 8px;
    color: #555;
}

.bintang {
    color: #e74c3c;
    margin-left: 2px;
}

.form-input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    font-size: 1em;
    outline: none;
    background-color: transparent;
    transition: border-color 0.3s;
}

.form-input:focus {
    border-bottom-color: #964B00;
}
        
.btn-register {
    width: 100%;
    padding: 12px;
    background-color: transparent;
    border: 1px solid #333;
    color: #333;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 20px;
}

.btn-register:hover {
    background-color: #333;
    color: #fff;
}

.forgot {
    text-align: right; 
    margin-top: -10px;
    margin-bottom: 20px; 
}

.forgot a {
    font-size: 0.8em;
    color: #555;
    text-decoration: none;
}

.forgot a:hover {
    text-decoration: underline;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}